@import "login.scss";
@import "form.scss";
@import "header.scss";
@import "aside.scss";

html, body {
    font-family: "微軟正黑體", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", Arial, sans-serif;
    height: 100%;
}

#app {
    position: relative;
    height: 100%;
}

.home {
    @include flexBox(row, flex-start, flex-start);
    width: 100%;
    height: 100%;
    background: url('/img/body_bg.jpg') no-repeat;
    background-size: cover;
    overflow: hidden;
    .contents {
        @include flexBox(column, flex-start, flex-start);
        width: 100%;
        min-width: 1000px;
        height: 100%;
        overflow-y: auto;
        background: rgba(58, 0, 0, 0.6);
    }
}

.upload-customize {
    @include flexBox(row, center, flex-start);
    @include boxSizing;
    position: relative;
    width: auto;
    height: 34px;
    cursor: pointer;
    span {
        display: inline-flex;
        font-size: 0.85rem;
        padding: 0 16px 0 10px;
        white-space: nowrap;
        &.upload-btn {
            @include flexBox(row, center, center);
            color: #d9d9d9;
            border-radius: 34px;
            background-color: bg-color(deep_dark);
            .el-icon {
                width: 16px;
                height: 16px;
                margin-right: 5px;
            }
        }
    }
    input[type="file"] {
        position: absolute;
        top: 0;
        left: 0;
        width: 1px;
        height: 1px;
    }
}

.upload-file-name {
    display: block;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

h2.title {
    font-size: 2rem;
    color: text-color(gray_light)
}

h2.permissions-title {
    font-size: 1.3rem;
}

.goods-img-preview {
    @include boxSizing;
    display: block;
    width: 100%;
    padding: 1rem 0;
    .img-preview__items {
        @include flexBox(row, center, space-between);
        @include boxSizing;
        width: 100%;
        height: 90px;
        padding-right: 1rem;
        margin-bottom: 0.5rem;
        &:last-child {
            margin-bottom: 0px;
        }
        border: 1px solid #999;
        .el-icon {
            width: 24px;
            height: 24px;
            cursor: pointer;
            svg {
                width: 100%;
                height: 100%;
            }
        }
        .img-container {
            @include flexBox(row, center, center);
            width: 120px;
            height: 100%;
            background-color: bg-color(light);
            img {
                width: auto;
                height: 100%;
            }
        }
    }
}

.admin-card {
    @include easeInOutQuint(0.3s);
    display: flex;
    align-items: stretch;
    width: calc(100% / 5);
    min-width: 240px;
    padding: 0 1rem 1rem 0;
    font-size: 0.75rem;
    line-height: 1.2rem;
    color: #00A99D;
    .admin-card__content {
        @include flexBox(column, null, null);
        @include boxSizing;
        padding: 1rem;
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,0.3);
        border-radius: 12px;
        p.admin-account {
            @include easeInOutQuint(0.3s);
            font-size: 1.6rem;
            margin: 1rem 0;
            color: #ccc;
        }
    
        p.notice {
            color: #C7B299;
        }
        
        hr {
            margin-bottom: 1rem;
            border-color: #444;
        }
        &:hover {
            @include easeInOutQuint(0.3s);
            box-shadow: 0 0 10px rgba(0,0,0,0.7);
            .admin-account {
                @include easeInOutQuint(0.3s);
                text-shadow: 0 0 20px rgb(255, 45, 45);
            }
        }
    }
}
