@import "login.scss";
@import "form.scss";
@import "header.scss";
@import "aside.scss";

html, body {
    font-family: "微軟正黑體", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", Arial, sans-serif;
    height: 100%;
}

#app {
    position: relative;
    height: 100%;
}

.home {
    @include flexBox(row, flex-start, flex-start);
    width: 100%;
    height: 100%;
    background: url(@/assets/img/body_bg.jpg) no-repeat;
    background-size: cover;
    overflow: hidden;
    .contents {
        @include flexBox(column, flex-start, flex-start);
        width: 100%;
        min-width: 1200px;
        height: 100%;
        overflow-y: auto;
    }
}

.upload-customize {
    @include flexBox(row, center, flex-start);
    @include boxSizing;
    position: relative;
    width: 120px;
    height: 34px;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 0 1rem;
    cursor: pointer;
    &::before {
        content: "";
        display: block;
        width: 20px;
        height: 20px;
        margin-right: 10px;
        background: url(assets/img/icon-upload_2.svg) no-repeat center;
        background-size: contain;
    }
    span {
        font-size: 0.85rem;
        white-space: nowrap;
    }
    input[type="file"] {
        position: absolute;
        top: 0;
        left: 0;
        width: 1px;
        height: 1px;
    }
}
